<ion-view view-title="<img src='./img/Toorn.png'/>">
  <ion-content>
		<div map-lazy-load="https://maps.google.com/maps/api/js">
		  <ng-map center="current-position" zoom="17">
		  <marker position="current-position" title="Me"
     		icon="./img/location.png"></marker>
     		<directions
	          draggable="true"
	          travel-mode="DRIVING"
	          origin="current-location"
	          destination="Bagneux, France">
	        </directions>
		  </ng-map>
		</div>
	</ion-content>
</ion-view>

