<ion-view view-title="<img src='./img/Toorn.png'/>">
   <ion-content class="background-color-view">
     <div class="list">

       <ion-item class="item item-thumbnail-left" href="#">
         <img class="icon-jeux" src="./img/fifa16.png">
         <b><p class="titre-jeux">Fifa 16</p></b>
         <p class="titre-jeux">Dates</p>
       </ion-item>
       <ion-item class="item item-thumbnail-left" href="#">
         <img class="icon-jeux" src="./img/lol.png">
         <b><p class="titre-jeux">League of Legends</p></b>
         <p class="titre-jeux">Dates</p>
       </ion-item>
       <ion-item class="item item-thumbnail-left" href="#">
         <img class="icon-jeux" src="./img/co.png">
         <b><p class="titre-jeux">Counter Strike</p></b>
         <p class="titre-jeux">Dates</p>
       </ion-item>
       <ion-item class="item item-thumbnail-left" href="#">
         <img class="icon-jeux" src="./img/heartstone.png">
         <b><p class="titre-jeux">Heartstone</p></b>
         <p class="titre-jeux">Dates</p>
       </ion-item>

     </div>
   </ion-content>
</ion-view>

